<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la base de datos -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:futbito.db</property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>

        <!-- Configuración del pool de conexiones -->
        <property name="hibernate.connection.pool_size">1</property>

        <!-- Dialecto -->
        <property name="hibernate.dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>

        <!-- Mostrar SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- IMPORTANTE: Desactivar validación de esquema -->


        <!-- Deshabilitar validación de metadatos -->
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

        <!-- Mapeo de entidades -->
        <mapping class="org.example.Division"/>
        <mapping class="org.example.Match"/>
    </session-factory>
</hibernate-configuration>